
@media only screen and (max-width: 992px) {
  section {
    background: rgba(255,255,255,0.5) !important;
  }

  .packages {
    height: 100% !important;
  }
  .gallery {
    height: 100% !important;
  }

  .text-header {
    font-size: 3rem !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}



.packages {
  background: -moz-linear-gradient(top, rgba(255,255,255,0.21) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.21) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0.21) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}



header {
  overflow: hidden;
  position: relative;
  height: 93vh;
}

.text-header {
  font-size: 8rem;
  font-weight: 600;
}

header img {
  z-index: -1;
  object-position: center left !important;
}

.right img {
  object-position: 25% 50% !important;
}

section {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.quote {
  height: 100% !important;
}

.left {
  background: rgba(255,255,255,0.4);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.right {
  background: rgba(255,255,255,0.4);
  background: -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

section img {
  z-index: -1;
}

.video {
/*  position: absolute;*/
  top: 0;
  left: 0;
  width: 100% !important;
  height: 40vh;
  overflow: hidden;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/*.expiriance .row {
  min-height: 50vh;
}*/

.square {
  width: 100%;
  height: 0;
  padding-bottom: 20%;
}

.gallery {
  height: 40vh;
}

/*bootstrap overrides*/

a {
  color: #1D809F;
}

a:hover, a:focus, a:active {
  color: #155d74;
}

.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn-outline-primary {
  border-color: #1D809F !important;
  color: #1D809F !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #1D809F !important;
}

.text-primary {
  color: #1D809F !important;
}

.text-secondary {
  color: #ecb807 !important;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.offset-lg-1-5 {
  margin-left: 12.49995%;
}

.card-header-primary {
  background-color: #1D809F !important;
  color: #f8f9fa;
}

.blockquote-footer {
  color: #f8f9fa;
}
